.content {
    padding: 0 15px;
    z-index: 9999;
    margin: 0 auto;
    width: 970px;
   

}
/* Navigation Section --------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
    .top-navigation {
        
        background-color: #fff;
        position: fixed;
        width: 100%;
        border-bottom: 4px solid gray;
        z-index: 9999;
        height: 110px;
    }



    .top-navigation > .content {
        padding: 0 3px;
        height: 7rem;
        width: 60%;
        padding-left: 1rem;
        padding-right: -15rem;
       
        color: #838994;

    }
    

    .top-navigation .links {
        float: right;
        color: #838994;
        font-size: 1.5rem;
        margin-top: 4.4rem;
        
    }
.top-navigation  >  .glyphicon-eye-open{
   margin-top:  5px;
}
        .top-navigation a:link {
        color: #838994;
        text-decoration: none;
    }

    .active >a:link {
    color: #4c5058;
    }
    .top-navigation .links li {
        display: inline-block;
        margin-left: 25px;
        margin-top: -3px;
       color: #838994;
    }
    .top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
    }
    .top-navigation .links li:hover {
        cursor: pointer;
        color: #333333;
    }
.top-navigation .logo {
        width: 62px;
        height: 118px;
        background-color: #5886A6;
        border-color: #f15a29;
        text-shadow: none;
        border-style: none;
        border-radius: 2px;
        padding-top: 6px;      
        color: #F4A460;            
        position: fixed;
        margin-top: 1.7rem;       
        text-align: center;
        box-shadow:#000 2px 2px 2.5px;
        float: right;
        margin-left: 20.6rem;
        font-size: 2.6
        

    }
    .top-navigation h3{
      color: #5886A6;
       font-size: 2.6rem;
   

    }
    .top-navigation p{
        padding-top: 40px;

    }

       .nav-logo {
     font-size: 2.8em; 
     color:  #00868B;
     padding-right: .5rem;
     margin-right: -23.5rem; 
     width: 29rem;
     margin-top: -20px;
     padding-top: -20px;
    
}
 .nav-logo .glyphicon{
  height: 70px;
  margin-top: -40px;
 }

  

/** The Introduction section--  #e6e7e9; ----------------------------------------------------------------------------------------------------------------------
*/    
    .intro-content{
         text-align: center;
         background-color: #6892af; 
         background-image: url('../images/big-phone-img.jpg');
         background-repeat: no-repeat;
         background-size: cover;
         background-position: 10 bottom;
         background-position: 2 right;
         height: 85.4rem;
         width: 1445px;
         overflow: auto;
         z-index: 99999;     
         border-bottom: 4px solid gray;
    
        
    }

    
    .tilte-content > h1,  .tilte-content >h3 ,.about h2{         
        
        font-weight: 300;
      


    }
   .tilte-content > h1 {
        
      margin-bottom: 18px;
        font-size: 50px;
       
            }
   .intro-content > p {
       margin-top: 10px;
       padding: 40px;
       font-size: 1.8rem;
       margin-bottom: 50px;
       line-height: 200%;
       color: #c8c8c8;
       text-align: center;
    }


    .intro-content > h3{
        margin-top: 5rem;
        margin-bottom: 6rem;
        padding-bottom: 4rem;
        font-size: 25px;
      color:  #5F9EA0;
       
    }

    .big-button{
        width: 15rem;
        height: 4.9rem;
        background-color: #5886A6;
        border-color: #f15a29;
        text-shadow: none;
        border-style: none;
        border-radius: 4px;
        padding: 1rem 1.5rem;
        margin-top: 2.5rem;
        color: white;
        font-size: 1.525rem;
    }
    #big-b{
        padding-bottom: 12px;
    }

    .tilte-content{ 
        margin-top: 21rem;
        float: right;
        margin-right: 12rem;
    }

/** The Three Case Images section------------------------------------------------------------------------------------------------------------------------
*/
/**
* HOW IT WORKS SECTION!------------------------------------------------------------------------------------------------------------------------------------
*/


.about > #learn-more a{
float: right;
margin-right: 4rem;
 
}

@media screen and (max-width: 780px) {
    .top-navigation .logo {
      margin-left: 4.6rem;
    }
 
  .about .data {
        width: 53.3333333%;
          margin-left: 25px;

          margin-top: -26rem;
     }
   .about .data> li{
        width: 24.3333333%;
        float:left;
        list-style: none;
        padding-right: 25px;
      }
      .about .data li > .data-iamge{     
        height:80px;
        width: 80px;   

      margin-left: -4rem;
      margin-right: -4rem;

    }
    .about .data li .data-iamge > p{
        font-size: 3.25rem;
        margin-top: 2.1rem;


    }  

.about #big-ps{
  text-align: left;
  
}
     #primary .box{
        margin-bottom: 5px;
    }
     .notes-content{ 
        margin-top: 42rem;
       color: #fff;
        margin-right: 3rem;

    }
      .tilte-content{ 
        margin-top: 38rem;
       color: #fff;
        margin-right: 2rem;
    }
  #primary{
    width: 100%;
  margin-bottom: 10px;
  }
    #primary .btn-success{
  margin-bottom: 2px;
   }
   #secondary{
    height: 110%;
    padding-top: 5px;
    margin-top: 10px;
      width: 100%;
      float: none;
  }
  .buy-header{
    margin-left: 22px;
  }
  #big-ps{
    float: left;
  margin-top: 12px;
}
.about{
float: left
} 
.info{
   
   margin-top: -15rem;
   }
 .btn div:first-line {
    font-size:60px
}
}
@media only screen and (max-device-width: 520px) {


.top-navigation {
        
         width: 1450px;
        position: fixed;
      
       
        height: 110px;
    }

    .about p {
   
    width: 95%;
      font-size: 5rem;
}



    .about h2{
	margin-top:		-10rem;
font-size: 8rem;
    }

       .tilte-content{ 
        margin-top: 128rem;
        color: white;
  
        margin-right: 15rem;
    }
    .tilte-content h1{
      font-size: 5.7rem;
    }
    .notes-content h1{
      font-size: 3.7rem;
    }
    
    


      .intro-content{

         height: 150rem;}

    .about h2 {   font-size: 8rem; 
      color:  #5F9EA0;
      margin-top: 10rem;
       padding-left: 162px;
    
   }
     .about{
      padding-left: 65px; 
      width: 1440px;
     }
      .about p{
      padding-left: 165px; 
      
     }

.top-navigation .nav-logo {
  margin-left: 12rem;
   
      
          font-size: 5.5rem;

  }
     
  
 
.top-navigation .logo {
  margin-left: 12rem;
    width: 82px;
        height: 138px;
          font-size: 5.5rem;

  }
  .top-navigation .logo >  .glyphicon-tint{
  font-size: 2.5rem;
}
 

#learn-more{
  font-size: 6.7rem;
  list-style: none;
  padding-right: 170px;
}



    }
